<a href="https://colab.research.google.com/github/shivalikasikarwar0529-gif/Python-Learning/blob/main/Day_2%2C3_(Variables%2CList).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=2
y=3

Variabls are like containers to put any value like here we have given 2 & 3 later we make operations with variables

In [ ]:
x+y

5

like this we can make different operations with variables

In [ ]:
x=15

we can change its value also in numeric.

In [ ]:
x+y

18

Now, we can see its giving result as changed variable

In [ ]:
name='youtube'

we can use variables with string also but here assigned value can't be changed

In [ ]:
name+' songs'

'youtube songs'

Here '+' sign is mendatory to concatenation

In [ ]:
name[0]

'y'

It will fetch 1st letter of value.
#0 acts as 1 in computer numbering.
#if we write code like "name[8]" then it will show error bcz 8th number is out of string index."

In [ ]:
name[-1]

'e'

Because negative numbers acts as reverse counting

In [ ]:
name[1:4]

'out'

1st value = starting
2nd value = ending(exclusive), we can check from here 'youtube'

In [ ]:
name[1:]

'outube'

In this case, it'll start with 2nd letter and go till the end bcz end isn't specified.

In [ ]:
name[:4]

'yout'

Here, it'll start with 1st letter & end at 4th bcz end isn't specified so basically whenever we don't specify value the code will run from or till the end or beginning.

In [ ]:
name[3:10]

'tube'

By mistake, if we assign second value out of range still it won't give error but will return value at the last character.

In [ ]:
'my'+name[3: ]

'mytube'

This way we can make changes in variables.

In [ ]:
mytube = 'shivalika'

In [ ]:
len(mytube)

9

like this python provides many default text/string functions

In [1]:
nums=[56,89,23,78,51,24,62]

A group of variables is known as list, so here we created a list in which we can add multiple values at a time.

In [2]:
nums

[56, 89, 23, 78, 51, 24, 62]

In [7]:
nums[0]

56

Same as variable, Here too we can get specific index value.

In [6]:
nums[-1]

62

Negative numbers will also act same as previous.

In [9]:
names = ['shivalika', 'naveen','kiran']
names

['shivalika', 'naveen', 'kiran']

we can also add multiple strings at a time.

In [10]:
values=[9.5, 'shivalika', 25]
values

[9.5, 'shivalika', 25]

Like this, we can add different data in list.

In [12]:
mil=[nums, names]
mil

[[56, 89, 23, 78, 51, 24, 62], ['shivalika', 'naveen', 'kiran']]

we can create miscellanious list also.

In [14]:
nums.append(68)
nums

[56, 89, 23, 78, 51, 24, 62, 68, 68]

Here, we can use inbuilt functions too after adding (.) to variable name

In [15]:
nums.insert(2,82)

In [16]:
nums

[56, 89, 82, 23, 78, 51, 24, 62, 68, 68]

Like this we can insert any element by specifying index number

In [18]:
nums.remove(78)
nums

[56, 89, 82, 23, 51, 24, 62, 68, 68]

we can remove any element also

In [19]:
nums.pop(1)

89

we can pull out any element by specifying index value in this fucntion.

In [20]:
nums.pop()

68

By mistake, if we don't specify any index value then it won't give any error, instead it'll return last element.

In [21]:
del nums[4:]

In [22]:
nums

[56, 82, 23, 51]

It'll return 4 value rest will be deleted.

In [24]:
nums.extend([29,12,15,19])
nums

[56, 82, 23, 51, 29, 12, 15, 19]

Like this we can extend elements into list.

In [25]:
min(nums)

12

like this we can use inbuilt functions

In [26]:
nums.sort()
nums

[12, 15, 19, 23, 29, 51, 56, 82]

it'll retrive values in sorted form.